@import './rules/color', './rules/font.scss', './rules/spaces.scss';

.container-display-characters {
    justify-content: space-around;
}

.characters-card {
    background-color: $primary;
    margin: $spac-xs !important;
    max-width:200px;
    max-height: 330px;
    box-shadow: 0px 2px 15px black;
}

.characters-card:hover{
    background-color: $secondary;
    cursor: pointer;
    transform: translate(0, -2px);
    transition: background-color 0.5s linear;
}

.container-character-picture {
    position: relative;
}

.character-picture {
    height: 70%;
    width: 100vw;
}

.character-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: calc(2vh + 2vw);
    color: $tertiary;
    font-family: 'marvel';
    letter-spacing: 3px;
    margin-top:4%;
}

.picture-card {
    width:100%;
    max-height:250px;
    border-bottom: 5px solid $secondary;

    // clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.text-card{
    height: 60px;
    color: $tertiary;
    margin-left:1rem;
    font-size: 0.9rem;
}

.container-button-pagination {
    margin: $spac-s 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-pagination {
    background-color: white;
    border: none;
    color: $tertiary;
    border-radius: 10%;
    outline : none;
    width: 70px;
    height: 50px;
    :active{
        transform: translate(0, 1px);
    }
    img{
        width: 55%;
    }
}


