@import './rules/color', './rules/font.scss', './rules/spaces.scss';

.container-display-comics {
    justify-content: center;
}

.comics-card {
    margin: $spac-xs !important;
    text-align: center;
    padding-bottom: $spac-s;
}

.comics-card:hover{
    cursor: pointer;
    transform: translate(0, -2px);
}

.container-comics-picture {
    position: relative;
}

.comics-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: calc(2vh + 2vw);
    color: $tertiary;
    font-family: 'marvel';
    letter-spacing: 3px;
    margin-top:4%;
}

.comics-picture {
    height: 70%;
    width: 100%;
}

.comics-cover-title {
    color: $primary;
    font-size: 0.9rem;
    font-weight: bold;
}

.comics-cover {
    box-shadow: 0 26px 24px -15px rgba(0,0,0,0.5);
    max-width: 250px;
    max-height:320px;
}

.container-button-pagination {
    margin: $spac-s 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-pagination {
    background-color: white;
    border: none;
    color: $tertiary;
    border-radius: 10%;
    outline : none;
    width: 70px;
    height: 50px;
    :active{
        transform: translate(0, 1px);
    }
    img{
        width: 55%;
    }
}
