@font-face{
    font-family: 'marvel';
    src: url('../font/avengeance/AVENGEANCE\ HEROIC\ AVENGER.ttf')
}

.loader {
    margin-top:5%;
}

.card-container {
    background-color: grey;
    margin:1% !important;
    max-width:200px;
}

.card-container:hover{
    background-color: red;


}

.character-title {
    text-align: center;
    font-size: calc(2vh + 2vw);
    font-family: 'marvel';
    letter-spacing: 3px;
}

.picture-card {
    width:200px;
    height:200px;
    clip-path: polygon(0 0, 100% 0, 80% 80%, 0 100%);

}

.text-card{
    color: white;
    text-align: center;
    font-size: calc(0.6vh + 0.6vw);
}
