@font-face{
    font-family: 'marvel';
    src: url('../font/avengeance/AVENGEANCE\ HEROIC\ AVENGER.ttf')
}

.container-display-characters {
    justify-content: center;
}

.card-container {
    background-color: #222629;
    margin:1% !important;
    max-width:200px;
    box-shadow: 0px 2px 15px black;
}

.card-container:hover{
    background-color: rgb(249, 0, 12);
    cursor: pointer;
    transform: translate(0, -3px);

}

.character-title {
    text-align: center;
    font-size: calc(2vh + 2vw);
    color: rgb(239, 239, 239);
    font-family: 'marvel';
    text-shadow: 0px 2px 15px red;
    letter-spacing: 3px;
    margin-top:4%;
}

.picture-card {
    width:200px;
    height:200px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.text-card{
    color: white;
    text-align:end;
    margin-right:6%;
    font-size: calc(0.9vh + 0.9vw);
}
